# Server Configuration
PORT=6001
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/drawing-api
MONGODB_TEST_URI=mongodb://localhost:27017/drawing-api-test

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Upload Limits
MAX_FILE_SIZE=10485760
MAX_BULK_UPLOAD=20

SWAG_PROD=
SWAG_DEV=